<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<body>
<div>
    <table border="1" cellspacing="0" style="margin: 100px auto" width="60%">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th>role</th>
            <th>Option</th>
        </tr>
        <tr th:each="u:${us}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.password}"></td>
            <td th:text="${u.role}"></td>
            <th>
                <input type="hidden" th:value="${u.id}">
                <input type="button" value="Delete" onclick="del_btn(this)">
            </th>
        </tr>
    </table>
</div>
<script>

    //Delete Button Function
    function del_btn(obj){
        var id = $(obj).prev().val();
        $.ajax({
            url:'/delUser',
            type:'post',
            data:{'id':id},
            success:function(res){
                alert("Delete Successed！");
                $(obj).parent().parent().remove();
            }
        })
    }

</script>
</body>
</html>