.inp_{
    height: 27px;
    width: 220px;
    border-radius: 3px;
    border: 1px gray solid;
}
.inp_sel{
    height: 30px;
    width: 226px;
    border-radius: 3px;
    border: 1px gray solid;
}
.btn_comm,.btn_regist{
    width: 80px;
    height: 30px;
    background-color: #409EFF;
    border-radius: 3px;
    border: 1px gray solid;
    color: white;
    font-size: 14px;
}
.btn_regist{
    background-color: #67C23A;
    display: inline-block;
    line-height: 28px;
    width: 78px;
    height: 28px;
    text-decoration: none;
    font-size: 14px;
}
.inp_2{
  height: 33px;
  width: 270px;
  border-radius: 3px;
  border: 1px gray solid;
}
.inp_size{
  font-size: 16px;
}
.del_btn{
  height: 30px;
  width: 80px;
  color: white;
  border-radius: 5px;
  border: 1px gray solid;
  background-color: #F56C6C;
}
.del_btn:hover{
  background-color: #E38D8D;
}
